<!doctype html>
<html lang="en">


<body>
<div class="backform">
  <div class="form">
    <form class="login-form" action="javascript:void(0);">
      <h1>Inscription</h1>
      <div class="form-input-material">
        <input type="text" name="username" id="username" placeholder="Nom" autocomplete="off" class="form-control-material" required />
        <label for="username"></label>
      </div>
      <div class="form-input-material">
        <input type="text" name="username" id="username" placeholder="Prenom" autocomplete="off" class="form-control-material" required />
        <label for="username"></label>
      </div>
      <div class="form-input-material">
        <input type="password" name="password" id="password" placeholder="Email" autocomplete="off" class="form-control-material" required />
        <label for="password"></label>
      </div>
      <div class="form-input-material">
        <input type="password" name="password" id="password" placeholder="Mot de passe" autocomplete="off" class="form-control-material" required />
        <label for="password"></label>
      </div>
      <div class="form-input-material">
        <input type="date" name="username" id="username" placeholder="Date" autocomplete="off" class="form-control-material" required />
        <label for="username"></label>
      </div>
      <div class="form-input-material">
        <input type="text" name="username" id="username" placeholder="Lieu" autocomplete="off" class="form-control-material" required />
        <label for="username"></label>
      </div>

      <div class="form-input-material">
        <input type="text" name="username" id="username" placeholder="Telephone" autocomplete="off" class="form-control-material" required />
        <label for="username"></label>
      </div>
      <button type="submit" class="btn btn-primary btn-ghost">Continuer</button>
      <p>Vous êtes déjà inscrit ? <a href="">Cliquez ici !</a></p>
    </form>

  </div>

</div>

<script src="assets/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
