<!doctype html>
<html lang="en">



<body>
<div>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home"><img class="logo" src="assets/logos4.png" alt="logo"></a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="user" src="assets/user.png" alt="Icone_utilisateurs">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="loginform">Se connecter</a>
            <a class="dropdown-item" href="registerform">S'inscrire</a>
            <a class="dropdown-item" href="#">Se deconnecter</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/profil">Voir mon profil</a>
            <a class="dropdown-item" href="/modifprofil">Modifier mon profil</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
<h1>Selectionnez vos filtres</h1>
<!-- Footer -->
<footer class="bg-dark text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <img class="logofooter" src="assets/logos4.png" alt="logo">
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Mentions légales</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="/rgpd" class="text-light">RGPD</a>
          </li>
          <li>
            <a href="#!" class="text-light">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-light">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-light">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Contact</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-light">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-light">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-light">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-light">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-light" href="">AroundMe&Co</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

<script src="assets/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
