<!doctype html>
<html lang="en">

<body>
<div class="backform">
  <div class="form">
    <form class="login-form" action="javascript:void(0);">
      <h1>Connexion</h1>
      <div class="form-input-material">
        <input type="text" name="username" id="username" placeholder="Email" autocomplete="off" class="form-control-material" required />
        <label for="username"></label>
      </div>
      <div class="form-input-material">
        <input type="password" name="password" id="password" placeholder="Mot de passe" autocomplete="off" class="form-control-material" required />
        <label for="password"></label>
      </div>
      <button type="submit" class="btn btn-primary btn-ghost">Se connecter</button>
      <p>Vous n'êtes pas encore inscrit ? <a class="nav-link" routerLink="/registerform">Cliquez ici !</a></p>
      <p class="back"><a class="navbar-brand" href="/home">Retour à l'accueil</a></p>
    </form>

  </div>


</div>

<script src="assets/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
