@font-face {
  font-family: 'Okta';
  src: url('/assets/police/Okta.otf');
}
@font-face {
  font-family: 'OktaLight';
  src: url('/assets/police/OktaLight.otf');
}


h1 {
  color : Orange;
  text-align: center;
  padding-top: 5%;
  font-family: Okta;
  font-size:75px;
}

p{
  font-size:22px;
  font-family:OktaLight;
}
.user {
  width : 35%;
}

.logo {
  width : 10%;
  margin-left : 5%;
}

.first {
  background-image: url("/assets/people.jpg");
  height : 1080px;
  width : 100%;
  padding : 0;
  position: relative;

}

.prestexte {
  padding-left : 15%;
  padding-right : 15%;
  padding-top : 5%;
  padding-bottom : 5%;
  text-align: center;
  font-family:OktaLight;
  line-height: 1.75;
}

.etapes {

  background-color: orange;
}

h2 {
  color: white;
  text-align: center;
  padding-top : 5%;
  padding-bottom : 5%;
  font-family: Okta;
  font-size:65px;
}

.tuto {
  display: inline-flex;

  text-align: center;

}

.step {
  margin : 3%;
}

.form p {
  padding-bottom: 10%;
}

.step p{
  margin-top:8%;
  font-family: OktaLight;
  color:white;
}

h3{
  margin-top:8%;
  color:white;
  font-family: Okta;
}

.exemple {
  background-image: url("/assets/activite.jpg");
  height:440px;
}

h4 {
  color: orange;
  font-family: Okta;
  font-size : 70px;
  text-align: left;


}

.row {
  padding:4%;

}

.logofooter {
  width : 45%;
}

.text-uppercase{
  color:orange;
  padding-bottom: 15%;
}

.cercle {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  background: orange;
  position: relative;
  margin : 0 auto;

}

.btn {
  padding: 8px 20px;
  border-radius: 0;
  overflow: hidden;
  background-color:orange;
  border-color:orange;

  margin-top : 15%;
}

.btn:hover {
  background-color:darkgoldenrod;
  border-color:darkgoldenrod;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  height:950px;


}

input{
  margin-top : 5%;
  background: transparent;
  border-style : none;
  border-bottom-style: solid;
  color:white;
}


.form h1 {
  margin-bottom: 5%;
  padding-top: 8%;
}

a {
  color : orange;
}

a:hover{
  color:darkgoldenrod;
}

.form p {
  padding-top: 2%;
}

@media screen and (max-width: 858px) {
  h1{

    font-size : 60px;
  }
  h2 {
    font-size : 60px;
  }

  h4{
    font-size : 50px;
  }

  p {
    font-size : 22px,
  }
  .tuto {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .form h1 {
    margin-bottom: 15%;
    padding-top: 38%;
  }

}

@media screen and (max-width: 400px) {
  h1{

    font-size : 30px;
  }
  h2 {
    font-size : 30px;
  }

  h4{
    font-size : 30px;
  }

  p {
    font-size : 14px;
  }
}

