<!doctype html>
<html lang="en">



<body>
<div>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home"><img class="logo" src="assets/logos4.png" alt="logo"></a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="user" src="assets/user.png" alt="Icone_utilisateurs">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="loginform">Se connecter</a>
            <a class="dropdown-item" href="registerform">S'inscrire</a>
            <a class="dropdown-item" href="#">Se deconnecter</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/profil">Voir mon profil</a>
            <a class="dropdown-item" href="/modifprofil">Modifier mon profil</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="first">
  <div class="badge">
    <div id="decouvrir" class="text"><a href="/activites">Decouvrir</a></div>
  </div>
</div>




<div class="presentation">
  <h1>AROUNDME&CO</h1>
  <p class="prestexte">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque ante, bibendum sit amet dui vel, pellentesque pellentesque sapien.
    Aliquam lacus neque, consectetur vitae dapibus sit amet, luctus a ante. Nunc pellentesque facilisis tortor pretium gravida. Sed ac tempor sapien,
    in posuere est. Aliquam malesuada ante quis mauris auctor viverra. Aenean eu mauris id erat condimentum iaculis. Curabitur velit augue, eleifend ut
    tempus a, vulputate eu leo. Vestibulum mattis ullamcorper ante ac imperdiet. Praesent facilisis sapien justo, a bibendum sapien dignissim et.
    Maecenas fringilla interdum velit et vulputate. Fusce in egestas mi.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque ante, bibendum sit amet dui vel, pellentesque pellentesque sapien.
    Aliquam lacus neque, consectetur vitae dapibus sit amet, luctus a ante. Nunc pellentesque facilisis tortor pretium gravida. Sed ac tempor sapien,
    in posuere est. Aliquam malesuada ante quis mauris auctor viverra. Aenean eu mauris id erat condimentum iaculis. Curabitur velit augue, eleifend ut
    tempus a, vulputate eu leo. Vestibulum mattis ullamcorper ante ac imperdiet. Praesent facilisis sapien justo, a bibendum sapien dignissim et.
    Maecenas fringilla interdum velit et vulputate. Fusce in egestas mi.</p>
</div>

<div class="etapes">
  <h2>ETAPE D'UTILISATION</h2>
  <div class="tuto">
    <div class="step"><img class="user" src="assets/tuto.png" alt="Tuto"><h3>Etape 1 </h3><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque ante, bibendum sit amet dui vel, pellentesque pellentesque sapien.
      Aliquam lacus neque, consectetur vitae dapibus sit amet, luctus a ante. </p></div>
    <div class="step"><img class="user" src="assets/tuto.png" alt="Tuto"><h3>Etape 2 </h3><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque ante, bibendum sit amet dui vel, pellentesque pellentesque sapien.
      Aliquam lacus neque, consectetur vitae dapibus sit amet, luctus a ante. </p></div>
    <div class="step"><img class="user" src="assets/tuto.png" alt="Tuto"><h3>Etape 3 </h3><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque ante, bibendum sit amet dui vel, pellentesque pellentesque sapien.
      Aliquam lacus neque, consectetur vitae dapibus sit amet, luctus a ante. </p></div>
  </div>
</div>
<div class="exemple">
  <h4>PLEIN D'UTILISATION POSSIBLE !</h4>
</div>

<!-- Footer -->
<footer class="bg-dark text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <img class="logofooter" src="assets/logos4.png" alt="logo">
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Mentions légales</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="/rgpd" class="text-light">RGPD</a>
          </li>
          <li>
            <a href="#!" class="text-light">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-light">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-light">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Contact</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/rgpd" class="text-light">RGPD</a>
          </li>
          <li>
            <a href="#!" class="text-light">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-light">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-light">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-light" href="">AroundMe&Co</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</body>

</html>
